In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import os
import pandas as pd
import numpy as np
print(os.getcwd())
os.chdir("/content/gdrive/My Drive/Colab Notebooks (1)/yelp_dataset")
print(os.getcwd())
#df = pd.read_csv("similarsindex.csv")

Mounted at /content/gdrive
/content
/content/gdrive/.shortcut-targets-by-id/1m5dVPIYDUmApGRmzUSFDadtixbOm-Lu2/Colab Notebooks/yelp_dataset

In [ ]:
df.iloc[:,44:54]
#31688

,similar1,similar2,similar3,similar4,similar5,similar6,similar7,similar8,similar9,similar10
0,12271,9441,16844,4385,615,23343,9545,15456,28685,13741
1,6266,18771,14136,2724,14149,17187,11006,4167,29306,21598
2,10722,31522,25642,6829,23289,29811,24978,26402,24666,29901
3,9091,31405,14736,29733,26402,24666,6829,14571,25889,10950
4,3274,9406,21937,23778,3223,7870,20094,8124,23595,8298
...,...,...,...,...,...,...,...,...,...,...
31651,20163,1002,13794,19,16272,10034,5069,25067,14973,303
31652,28115,6162,5200,22919,19438,21625,5237,29663,27960,9555
31653,8081,20887,21844,15726,12715,11132,8118,28783,14431,29780
31654,5109,26341,15894,16097,27283,9602,6364,18373,13178,22274
31655,9205,1354,21344,27503,24637,1308,21488,28010,10283,19210

In [ ]:
df.loc[lambda df: df['business_id']=="CqwPurpyPzwGs9chhrUc3Q"]

In [ ]:
#Issue 1: Chain Businesses
id = 16584
print("Target Business:", df.iloc[id,1:15])
df.iloc[[df.iloc[id,-10], df.iloc[id,-9], df.iloc[id,-8],df.iloc[id,-7],df.iloc[id,-6],df.iloc[id,-5],df.iloc[id,-4],df.iloc[id,-3],df.iloc[id,-2],df.iloc[id,-1]],[1,2,4,5]]

Target Business: name_x                                                 b'Taco Bell'
business_id                                  tfU_GPrbSnssFQQHnBSkPQ
address_x                                    4703 66th Street North
city_x                                                 Kenneth City
state_x                                                          FL
postal_code_x                                                 33709
latitude_x                                                  27.8146
longitude_x                                                -82.7283
categories_x      Restaurants, Tex-Mex, Tacos, Fast Food, Breakf...
stars_x                                                         2.0
review_count_x                                                   15
attributes_x      {'RestaurantsTakeOut': 'True', 'BusinessAccept...
hours_x           {'Monday': '7:0-1:0', 'Tuesday': '7:0-1:0', 'W...
is_open_x                                                         1
Name: 16584, dtype: object

             name_x             business_id            city_x state_x
10388  b'Taco Bell'  vZPnefNXXooilmzTqnAa-w             Largo      FL
20193  b'Taco Bell'  0Ly-XEglgcSQttscS6L3-Q              Lutz      FL
10576  b'Taco Bell'  7ODfN7fwGLZZeanpWtSFfg            Hudson      FL
19102  b'Taco Bell'  998PnfT0eWDMyJjtBhmRxA           Valrico      FL
2214   b'Taco Bell'  dpGKdWz6y7ymYg3tpiPNDQ             Tampa      FL
26816  b'Taco Bell'  1fBiQt1VUpQ9r3mY663mIw        Plant City      FL
11727  b'Taco Bell'  qVwLEvBHLdafrd0YonO6pg       Port Richey      FL
12348  b'Taco Bell'  lx1et8HpxKMlQIbzudoM1w  Saint Petersburg      FL
6236   b'Taco Bell'  8-zp6Ni8z3o-ISj3zwZ1Zw           Brandon      FL
31391  b'Taco Bell'  y-B-ukhP-i4D6ZGwTl2jRg             Tampa      FL

In [ ]:
df.iloc[id,-10]

15675

Start of Model Results for Comparison

In [ ]:
#df.loc[lambda df: df['business_id']=="BtI1DC4SV1PxfPKNs2utnw"]
#tfU_GPrbSnssFQQHnBSkPQ
#21012
#18365
#22170
fin.loc[lambda fin: fin['rank']==0]

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, attributes, categories, price_range, latitude_norm, longitude_norm, log_review_count, log_review_count_norm, Sandwiches, Nightlife, Bars, American (Traditional), Fast Food, Pizza, Breakfast & Brunch, Burgers, American (New), Mexican, Coffee & Tea, Italian, Seafood, Chicken Wings, Chinese, Event Planning & Services, Salad, Delis, Cafes, Caterers, similar1_id, similar2_id, similar3_id, similar4_id, similar5_id, similar6_id, similar7_id, similar8_id, similar9_id, similar10_id, similar11_id, similar12_id, similar13_id, similar14_id, similar15_id, similar16_id, similar17_id, similar18_id, similar19_id, similar20_id, similar21_id, similar22_id, similar23_id, similar24_id, similar25_id, similar26_id, similar27_id, similar28_id, similar29_id, similar30_id, similar31_id, similar32_id, similar33_id, similar34_id, similar35_id, similar36_id, similar37_id, similar38_id, similar39_id, similar40_id, similar41_id, similar42_id, similar43_id, similar44_id, similar45_id, similar46_id, similar47_id, similar48_id, similar49_id, similar50_id, similar51_id, similar52_id, similar53_id, similar54_id, similar55_id, similar56_id, similar57_id, similar58_id, similar59_id, similar60_id, similar61_id, similar62_id, similar63_id, ...]
Index: []

[0 rows x 139 columns]

In [ ]:
df = pd.read_csv("modelresult3.csv",index_col = 'Unnamed: 0')

In [ ]:
def pull_results(id,df,num):
  #print("Target Business:", df.iloc[id,1:15])
  #print("~"*50, "Next Model", "~"*50)
  new = pd.DataFrame(df.iloc[[df.iloc[id,-10], df.iloc[id,-9], df.iloc[id,-8],df.iloc[id,-7],df.iloc[id,-6],df.iloc[id,-5],df.iloc[id,-4],df.iloc[id,-3],df.iloc[id,-2],df.iloc[id,-1]],])
  new['rank'] = [1,2,3,4,5,6,7,8,9,10]
  new['model'] = num
  return new

In [ ]:
mo1= pull_results(21012, df, 1)
m1 = df.iloc[21012]
m1['model'] = 1
m1['rank'] = 0
mo2= pull_results(18365, df, 2)
m2 = df.iloc[18365]
m2['model'] = 2
m2['rank'] = 0
mo3= pull_results(22170, df, 3)
m3 = df.iloc[22170]
m3['model'] = 3
m3['rank'] = 0
frames = [mo1,mo2,mo3]
fin = pd.concat(frames)
fin = fin.append(m1)
fin = fin.append(m2)
fin = fin.append(m3)
fin.to_csv("exfin.csv")

<ipython-input-19-dd75a2255cd1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m1['model'] = 1
<ipython-input-19-dd75a2255cd1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m1['model'] = 1
<ipython-input-19-dd75a2255cd1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m1['rank'] = 0
<ipython-input-19-dd75a2255cd1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m1['rank'] = 0
<ipython-input-19-dd75a2255cd1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m2['model'] = 2
<ipython-input-19-dd75a2255cd1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m2['model'] = 2
<ipython-input-19-dd75a2255cd1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m2['rank'] = 0
<ipython-input-19-dd75a2255cd1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m2['rank'] = 0
<ipython-input-19-dd75a2255cd1>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m3['model'] = 3
<ipython-input-19-dd75a2255cd1>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m3['model'] = 3
<ipython-input-19-dd75a2255cd1>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m3['rank'] = 0
<ipython-input-19-dd75a2255cd1>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m3['rank'] = 0
<ipython-input-19-dd75a2255cd1>:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  fin = fin.append(m1)
<ipython-input-19-dd75a2255cd1>:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  fin = fin.append(m2)
<ipython-input-19-dd75a2255cd1>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  fin = fin.append(m3)

In [ ]:
fin

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,similar93_id,similar94_id,similar95_id,similar96_id,similar97_id,similar98_id,similar99_id,similar100_id,rank,model
6222,eevZhYOfKqMWJIUfFWgZfg,American Crab Co,2461 Rt 1,Feasterville Trevose,PA,19053,40.122328,-74.975643,0.9,85,...,6983,20177,13779,32613,19145,32502,14484,32269,1,1
5174,4hH1lt7mHPbl4r2O7LH6nA,Jordan Johnson's Gourmet Seafood,7199 Buselton Ave,Philadelphia,PA,19149,40.045072,-75.060683,0.7,128,...,14484,23994,21581,17026,22592,6724,23078,1295,2,1
12909,NimI2u6uSS-DwsouQUO-Mg,Bobs Crab House,301 W Allegheny Ave,Philadelphia,PA,19133,39.999689,-75.135815,1.0,6,...,10552,4236,32269,19222,6724,13341,737,16011,3,1
24482,voedsXPlAFPHdvjAgIV2zw,Alaska King Crab House,4834 Lancaster Ave,Philadelphia,PA,19131,39.973071,-75.218859,0.5,25,...,21581,15891,28334,32613,22564,21170,16289,29149,4,1
20811,K9cXWQFJrYL4AN9RCCPjJw,Surf And Turf Truck,NaN,Philadelphia,PA,19114,40.068629,-75.002697,0.7,38,...,737,23994,14484,19145,15245,13779,21623,6724,5,1
23945,g1Gx-IECxNuZzg_6PpfO3A,Rita's Italian Ice,1135 York Rd,Willow Grove,PA,19090,40.159238,-75.111556,0.9,8,...,406,9915,11983,712,15698,27306,8547,27034,6,1
7195,q7sBlq1J3gQ8D44teewkyQ,Cameron Seafood,191300000 N Broad St,PHILA,PA,19142,39.970724,-75.160093,0.6,50,...,16081,9611,12518,13341,29149,16581,15891,28534,7,1
2719,r0Gz71sm-Wsh4J4kjiaViw,Mom's Seafood,2312 N 29th St,Philadelphia,PA,19132,39.991402,-75.180055,0.8,5,...,1295,21170,16081,16581,22564,23078,28334,19222,8,1
13994,PnQBy64fFCLKcLHCnOckjQ,Crafty Crab,1847 Street Rd,Bensalem,PA,19020,40.095953,-74.942158,0.7,72,...,19145,8827,14484,6983,32613,4407,32502,6317,9,1
2222,bFO_XYnYMDF1GMY9LK3oxQ,Otolith Sustainable Seafood,2133 Huntingdon St,Philadelphia,PA,19125,39.984240,-75.123013,1.0,10,...,19222,13341,737,14484,32269,1295,21403,21170,10,1
30009,M_TjmzKHmDbuN22-XJdLlg,Sunrise Tacos,250 107th Ave,Treasure Island,FL,33706,27.770449,-82.766637,1.0,12,...,12855,31670,27126,10955,13125,18704,5150,12867,1,2
30769,zI1tfxwATzJ6ANSUhu3pog,Chipotle Mexican Grill,"5114 E Fowler Ave, Ste 101",Temple Terrace,FL,33617,28.054872,-82.399265,0.4,10,...,1530,10377,17598,12007,33600,20540,11141,12819,2,2
12228,vE0BuiY9CHMtAErSEtHfag,Alvarez Authentic Latin Food 2,12227 N Florida Ave,Tampa,FL,33612,28.059162,-82.459003,0.9,22,...,14179,20573,26836,1692,1530,18575,10294,18704,3,2
21049,wA6ziPhpg1J94sL2BZshtQ,Eurotaste Grill,2412 Land O' Lakes Blvd,Land O' Lakes,FL,34639,28.192125,-82.463922,0.7,37,...,29544,13185,7579,3362,15977,11675,11327,1456,4,2
1546,sdLBeQVxRb0vbAuOB4rTvw,El Señor De Los Tacos,"1441 E Fletcher Ave, Ste 111",Tampa,FL,33612,28.068901,-82.443182,0.7,60,...,8460,33600,1530,7847,18575,1692,10294,31948,5,2
18156,05V62BosZxIQke9yXnJiRQ,Garcia's Bakery,5805 State Rd 674,wimauma,FL,33598,27.712212,-82.298825,0.9,8,...,19363,1062,1178,3001,14045,16586,17498,12855,6,2
545,J1pqZt0WWCL8cOt0eixBEw,Alvarez Authentic Latin Food,7715 Land O' Lakes Blvd,Land O' Lakes,FL,34638,28.269974,-82.480875,0.9,51,...,29744,29691,3190,13329,16284,3362,13185,25875,7,2
23461,jTaKRtcb3jVa274Gf3P7yw,Chipotle Mexican Grill,9203 US Highway 19,Port Richey,FL,34668,28.290811,-82.711913,0.7,23,...,32180,12210,31990,7759,15992,1106,12242,17174,8,2
8454,CaVRUFmRji59rQUmaAbOhQ,Taco Bell,11818 U.S. Highway 19,Port Richey,FL,34668,28.329280,-82.698590,0.5,9,...,1292,32180,17174,34949,16284,25098,10802,14078,9,2
16344,AV6s5icMZqkv_YUdbPnyKw,Chipotle Mexican Grill,"3286 Word Way, Ste G1",New Port Richey,FL,34653,28.205313,-82.666668,0.4,45,...,13054,33600,32802,18315,14381,14803,32196,30668,10,2
9763,XYFu64UPMMfoOlGTz3J4fw,Viva Burrito,2060 W River Rd,Tucson,AZ,85704,32.306423,-111.011415,0.3,104,...,16907,32384,11693,31503,24457,23708,34037,25610,1,3
1847,rdtMeOwRcXw4mJVxiBQ_IQ,La Mesa Tortillas,3684 W Orange Grove Rd,Tucson,AZ,85741,32.324575,-111.043274,0.8,64,...,30853,25610,25189,26485,24457,34037,31503,11693,2,3
7445,uvtDcAEXnTLE2SaTxqrKww,Gema Raspados & Delights,"2860 W Ina Rd, Ste 116",Tucson,AZ,85741,32.339010,-111.029261,0.6,32,...,5167,26795,18475,24457,21626,11693,34037,31503,3,3
20804,L264ryISA13SRLasBDXmHg,Nicos,"4231 W Ina Rd, Ste 141",Tucson,AZ,85741,32.337151,-111.055704,0.7,50,...,24457,10718,25189,32384,31503,26485,11693,34037,4,3
11345,F7YS-l6nPkuFMD5nO_QIow,Fito's Taco Shop,13303 E Colossal Cave Rd,Vail,AZ,85641,32.045011,-110.714533,0.6,76,...,25369,9763,1847,7445,20804,5332,20390,18934,5,3
18934,VqBFrv6StMLgZmO_nCtk4A,Nico's Taco Shop,8295 N Cortaro Rd,Tucson,AZ,85743,32.357333,-111.092753,0.6,69,...,18475,24457,24527,26485,26795,31503,11693,34037,6,3
31225,YWeP8DfVn11eoTabjhlh1w,Fito's Taco Shop,"9665 N Thornydale Rd, Ste 130",Tucson,AZ,85742,32.382016,-111.047342,0.6,44,...,16907,10718,26485,32384,24457,31503,11693,34037,7,3
3175,b0syqzR1F-EmprvTVs23ng,Angela's Mexican Food,9190 N Coachline Blvd,Tucson,AZ,85743,32.373559,-111.126954,0.7,70,...,32384,25189,21626,24457,24527,31503,11693,34037,8,3
2872,fXIahKpTRkWDeedxlpidVw,Nico's Taco Shop,11165 N La Canada Dr,Oro Valley,AZ,85737,32.409223,-110.996396,0.6,73,...,28616,26485,21626,32384,24457,31503,11693,34037,9,3
16323,So20ueL9qAIpV6FIwUtlKA,El Checo Mexican Food,1625 E Sahuarita Rd,Sahuarita,AZ,85629,31.958210,-110.950884,1.0,25,...,25369,9763,25034,1847,20804,7445,5332,8650,10,3
21012,d05qPj5XWr--rBgxZRS65w,Kings Seafood & Pasta,NaN,POTTSTOWN,PA,19464,40.245374,-75.649630,1.0,6,...,12909,24482,20811,23945,7195,2719,13994,2222,0,1
18365,tfU_GPrbSnssFQQHnBSkPQ,Taco Bell,4703 66th Street North,Kenneth City,FL,33709,27.814600,-82.728300,0.4,15,...,12228,21049,1546,18156,545,23461,8454,16344,0,2
22170,BtI1DC4SV1PxfPKNs2utnw,Taqueria Y Raspados Jason,6041 E 22nd St,Tucson,AZ,85711,32.207261,-110.863278,0.9,69,...,7445,20804,11345,18934,31225,3175,2872,16323,0,3

In [ ]:
pull_results(16584, df1, 1)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Next Model ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,similar3,similar4,similar5,similar6,similar7,similar8,similar9,similar10,rank,model
22908,jWLERdlbtyB0m2XFhQnPdg,Pizza 73,11435 Kingsway Avenue NW,Edmonton,AB,T5G,53.564493,-113.519277,0.5,5,...,16169,27891,23191,13063,20287,6563,34135,22146,1,1
20287,lwgJwqhU_C9qRq_UpqSMLg,Pizza Firm,6550 170 Avenue NW,Edmonton,AB,T5E 5S7,53.633374,-113.441150,0.6,5,...,10869,15248,11871,16584,30592,32693,12778,22908,2,1
16169,-QdmnLQrSOPuuzwGbW-dxA,Three10,1725 99 Street NE,Edmonton,AB,T6N 1M5,53.446108,-113.484242,0.5,6,...,16584,34135,6563,20287,23191,12402,22234,27891,3,1
23191,-9sGD5Fi-DVwR6BsBAtu0w,Little Caesars Pizza,15349 Castledowns Rd,Edmonton,AB,T5X 3Y7,53.614707,-113.514365,0.4,6,...,22908,22234,12402,16169,34135,27891,776,13063,4,1
34135,dsSs9tWCqDOKcq-lsql5cA,Yellowhead Donair & Pizza,"14220 Yellowhead Trail NW, Suite 8",Edmonton,AB,T5L 3C2,53.581433,-113.571227,0.6,5,...,20287,8073,13063,12778,30592,16169,16584,10869,5,1
12402,Ja2Q4PWhGxHJyJ4z6sqFOg,Cosmic Pizza and Donair,30 504 St Albert Trail,St. Albert,AB,T8N 2Y3,53.648837,-113.628630,0.5,7,...,22234,15248,23191,20287,16169,34135,22146,6563,6,1
22234,MWARYizaMzcnbKywxAuutQ,Boston Pizza,16521 97th Street NW,Edmonton,AB,T5X 6A9,53.627364,-113.491104,0.4,5,...,12402,16584,16169,22908,34135,20287,776,15248,7,1
13063,BJN6qc-9UwPfZO0FyFrT1w,Sbarro,"Kingsway Garden Mall, 109 St & Princess Elizab...",Edmonton,AB,T5G 3A6,53.564194,-113.508499,0.6,6,...,10869,12778,34135,15248,16169,11871,30592,22908,8,1
6563,udH9kp2O5uRIi4hm4sy8-A,Pizza 73,1109 Summerside Drive SW,Edmonton,AB,T6X 0H5,53.423843,-113.462124,0.4,7,...,16169,22908,16584,12402,34135,15248,13063,776,9,1
22146,9rU1JNUDDZbk3XzioFI6Dw,Red Swan Pizza,Victoria Trail NW,Edmonton,AB,T5A 5C9,53.598840,-113.386247,0.6,5,...,12778,27891,24203,10869,8073,753,13063,19694,10,1

In [ ]:
#Load all model results
df1 = pd.read_csv("modelresult1.csv",index_col = 'Unnamed: 0')
df2 = pd.read_csv("modelresult2.csv",index_col = 'Unnamed: 0')
df3 = pd.read_csv("modelresult3.csv",index_col = 'Unnamed: 0')
df4 = pd.read_csv("modelresult4.csv",index_col = 'Unnamed: 0')
df5 = pd.read_csv("modelresult5.csv",index_col = 'Unnamed: 0')
#dfnet = pd.read_csv("modelresultnet.csv",index_col = 'Unnamed: 0')
#Id's 16584, 13465, 14496, 1968, 20037, 18982df

In [ ]:
df3

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,similar1,similar2,similar3,similar4,similar5,similar6,similar7,similar8,similar9,similar10
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,0.8,80,...,21103,20506,32401,7199,27502,32545,17148,10055,21823,7161
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,0.4,6,...,5055,32954,15408,1186,20357,33539,4435,12322,31171,17668
2,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,0.3,10,...,20534,8232,5232,10180,17958,8497,18556,3522,21921,31819
3,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,NaN,Tampa Bay,FL,33602,27.955269,-82.456320,0.8,10,...,1182,24236,5161,33971,32338,26325,1231,5378,20337,16075
4,il_Ro8jwPlHresjw9EGmBg,Denny's,8901 US 31 S,Indianapolis,IN,46227,39.637133,-86.127217,0.5,28,...,13607,22178,1696,5422,23280,18228,22044,7822,30865,3122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34999,w_4xUt-1AyY2ZwKtnjW0Xg,Bittercreek Alehouse,246 N 8th St,Boise,ID,83702,43.616590,-116.202383,0.9,998,...,4757,29564,14987,8319,23428,30712,7333,22099,11586,27299
35000,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,0.6,11,...,19860,10751,820,22043,12719,22455,5011,314,7661,23930
35001,cM6V90ExQD6KMSU3rRB5ZA,Dutch Bros Coffee,1181 N Milwaukee St,Boise,ID,83704,43.615401,-116.284689,0.8,33,...,8959,15947,34063,18655,19029,24147,15544,531,19959,10708
35002,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,0.9,35,...,10071,24456,34481,11514,4708,5568,15335,9294,19503,1001
35003,2O2K6SXPWv56amqxCECd4w,The Plum Pit,4405 Pennell Rd,Aston,DE,19014,39.856185,-75.427725,0.9,14,...,27913,21813,33407,14115,48,11355,3322,10782,3697,30950

In [ ]:
#Results Comparison 16584
id = 16584
print("Target Business:", df1.iloc[id,1:15])
mo = df1.iloc[id]
mo['model'] = 0
mo['rank'] = 0
mo1= pull_results(16584, df1,1)
mo2 =pull_results(16584, df2,2)
mo3 = pull_results(16584, df3,3)
mo4=pull_results(16584, df4,4)
mo5=pull_results(16584, df5,5)
frames = [mo1,mo2,mo3,mo4,mo5]
fin = pd.concat(frames)
fin = fin.append(mo)
fin.to_csv("ex1.csv")

In [ ]:
#Results Comparison 13465
id = 13465
print("Target Business:", df1.iloc[id,1:15])
mo = df1.iloc[id]
mo['model'] = 0
mo['rank'] = 0
mo1= pull_results(id, df1,1)
mo2 =pull_results(id, df2,2)
mo3 = pull_results(id, df3,3)
mo4=pull_results(id, df4,4)
mo5=pull_results(id, df5,5)
frames = [mo1,mo2,mo3,mo4,mo5]
fin = pd.concat(frames)
fin = fin.append(mo)
fin.to_csv("ex2.csv")

In [ ]:
#Results Comparison 14496
id = 14496
print("Target Business:", df1.iloc[id,1:15])
mo = df1.iloc[id]
mo['model'] = 0
mo['rank'] = 0
mo1= pull_results(id, df1,1)
mo2 =pull_results(id, df2,2)
mo3 = pull_results(id, df3,3)
mo4=pull_results(id, df4,4)
mo5=pull_results(id, df5,5)
frames = [mo1,mo2,mo3,mo4,mo5]
fin = pd.concat(frames)
fin = fin.append(mo)
fin.to_csv("ex3.csv")

In [ ]:
#Results Comparison 1968
id = 1968
print("Target Business:", df1.iloc[id,1:15])
mo = df1.iloc[id]
mo['model'] = 0
mo['rank'] = 0
mo1= pull_results(id, df1,1)
mo2 =pull_results(id, df2,2)
mo3 = pull_results(id, df3,3)
mo4=pull_results(id, df4,4)
mo5=pull_results(id, df5,5)
frames = [mo1,mo2,mo3,mo4,mo5]
fin = pd.concat(frames)
fin = fin.append(mo)
fin.to_csv("ex4.csv")

In [ ]:
#Results Comparison 20037
id = 20037
print("Target Business:", df1.iloc[id,1:15])
mo = df1.iloc[id]
mo['model'] = 0
mo['rank'] = 0
mo1= pull_results(id, df1,1)
mo2 =pull_results(id, df2,2)
mo3 = pull_results(id, df3,3)
mo4=pull_results(id, df4,4)
mo5=pull_results(id, df5,5)
frames = [mo1,mo2,mo3,mo4,mo5]
fin = pd.concat(frames)
fin = fin.append(mo)
fin.to_csv("ex5.csv")

In [ ]:
#Results Comparison 18982
id = 18982
print("Target Business:", df1.iloc[id,1:15])
mo = df1.iloc[id]
mo['model'] = 0
mo['rank'] = 0
mo1= pull_results(id, df1,1)
mo2 =pull_results(id, df2,2)
mo3 = pull_results(id, df3,3)
mo4=pull_results(id, df4,4)
mo5=pull_results(id, df5,5)
frames = [mo1,mo2,mo3,mo4,mo5]
fin = pd.concat(frames)
fin = fin.append(mo)
fin.to_csv("ex6.csv")